<%- include('../../partials/header.ejs') %>
    <div class="row">
        <div class="col-md-3">
            <%- include('../../partials/sidebar.ejs') %>
        </div>
        <div class="col-md-9">
            <div class="card card-body">
               <h2>Change Password</h2>

               <form action="/auth/change-password" method="post">
                
                    <div class="form-group">
                        <label for="oldPassword">Old Password</label>
                        <input type="password" class="form-control <%= errors.oldPassword ? 'is-invalid': '' %> " id="oldPassword" name="oldPassword" placeholder="Enter old password" >
                        <div class="invalid-feedback">
                        <%= errors.oldPassword && errors.oldPassword %> 
                        </div>
                    </div>               

                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input type="password" class="form-control <%= errors.newPassword ? 'is-invalid': '' %> " id="newPassword" name="newPassword" placeholder="Enter new password">
                        <div class="invalid-feedback">
                        <%= errors.newPassword && errors.newPassword %> 
                        </div>
                    </div>       

                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control <%= errors.confirmPassword ? 'is-invalid': '' %> " id="confirmPassword" name="confirmPassword" placeholder="Confirm your password">
                        <div class="invalid-feedback">
                        <%= errors.confirmPassword && errors.confirmPassword %> 
                        </div>
                    </div>               
                    <button type="submit" class="btn btn-primary">Update Password</button>
               </form>

               
            </div>
        </div>
    </div>

    <%- include('../../partials/footer.ejs') %>



<script src="/scripts/dashboardCommentReply.js"></script>

</body>

</html>