<%- include('../../partials/header.ejs') %>

  
  <div class="row justify-content-center">
      <div class="col-md-5">
          <div class="card card-body">
              <h4 class="text-center">Login to Your Account</h4>
              <form method="POST" action="/auth/login">
                  
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control <%= errors.email ? 'is-invalid': '' %> " id="email" name="email">
                    <div class="invalid-feedback">
                      <%= errors.email && errors.email %> 
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control <%= errors.password ? 'is-invalid': '' %>" id="password" name="password">
                    <div class="invalid-feedback">
                      <%= errors.password && errors.password %> 
                    </div>
                  </div>
                                          
                  <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <a href="/auth/signup" class="mt-2 text-center">Create a new account</a>
          </div>
      </div>
  </div>
   
<%- include('../../partials/footer.ejs') %>
</body>
</html>